:root {
    --theme-deafult: #ff4c3b;
}

/* title design */

.title{
    background-color: #f8f8f8;
    padding: 30px 0;
}

.title-box{
    max-width: 1400px;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-h2{
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.32px;
}

.home-title a,
.home-title{
    text-transform: uppercase;
    color: #555555;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.home-title a+span{
    margin-right: 5px;
    margin-left: 5px;
}

/* left side design */

.collection-container {
    padding-top: 70px;
    padding-bottom: 70px;
}

.collection-box-container{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
}

.collection-left-box{
    width: 25%;
    padding-right: 12px;
}

.collection-left-top,
.collection-left-center {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 0px 30px;
    margin-bottom: 30px;
}

.category-title{
    margin-bottom: 24px;
}

.category-title,
.brand-title,
.colors-title,
.price-title {
    color: #444444;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    letter-spacing: 0.42px;
}


.category-title::after,
.brand-title::after,
.colors-title::after,
.price-title::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #444444;
    position: absolute;
    right: -3px;
    top: 0;
}

.category-list,
.brand-name,
.color-box {
    max-height: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.category-item .open,
.colors-filter .open{
    margin-bottom: 24px;
    margin-top: 30px;
    overflow-y: auto;
}

.category-item .open, 
.brand-filter .open,
.colors-filter .open{
    max-height: 170px;
    overflow-x: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.brand-filter .open,
.colors-filter .open {
    margin-top: 30px;
}

.category-list a {
    color: #777777 !important;
    text-transform: capitalize;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    display: block;
}

.open::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 5px;
}

.open::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top,
            color-stop(0.62, var(--theme-deafult)),
            color-stop(0.86, var(--theme-deafult)));
}

.brand,
.colors{
    padding-bottom: 24px;
}

.collection-item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    cursor: pointer;
}

.collection-item label {
    color: #777777;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.collection-item input{
    cursor: pointer;
}

.silver{
    background-color: silver;
}

.color-item{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid #eee;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 10px;
}

.color-item + label{
    margin-left: 8px;
}

.range-slider{
    margin-top: 56px;
    margin-bottom: 40px;
}

.range-slider {
    position: relative;
    display: flex;
	align-items: center;
    width: 94%;
	height: 100%;
}

.range-slider > div {
    position: absolute;
    display: flex;
	align-items: center;
	left: 13px;
	right: 15px;
	height: 16px;
}

.range-slider > div > .range-slider-val-left, 
.range-slider > div > .range-slider-val-right, 
.range-slider > div > .range-slider-val-range {
    height: 4px;
}

.range-slider > div > .range-slider-val-left {
	position: absolute;
	left: -11px;
	border-radius: 10px;
	background-color: #d8e0f3;
	margin: 0 7px;
}

.range-slider > div > .range-slider-val-right {
	position: absolute;
	right: 0;
    margin: 0 7px;
    border-radius: 10px;
	background-color: #d8e0f3;
}

.range-slider > div > .range-slider-val-range {
    position: absolute;
    left: 0;
    top: 5px;
    height: 4px;
	border-radius: 14px;
	background-color: var(--theme-deafult);
}

.range-slider > div > .range-slider-handle {
    z-index: 1;
    position: absolute;
	top: -5px;
    margin-left: -11px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: var(--theme-deafult);
    text-align: left;
    outline: none;
    cursor: pointer;
}

.range-slider > div > .range-slider-handle::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius:4px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

div.range-slider > input[type="range"]::-ms-thumb {
	width: 24px;
    height: 24px;
    border: 0 none;
    border-radius: 0px;
    background: red;
    pointer-events: all;
}

div.range-slider > input[type="range"]::-moz-range-thumb {
	width: 24px;
    height: 24px;
    border: 0 none;
    border-radius: 0px;
    background: red;
    pointer-events: all;
}

div.range-slider > input[type="range"]::-webkit-slider-thumb {
	width: 24px;
    height: 24px;
    border: 0 none;
    border-radius: 0px;
    background: red;
    pointer-events: all;
	-webkit-appearance: none;
}

div.range-slider > input[type="range"]::-ms-fill-lower {
	background: transparent;
	border: 0 none;
}

div.range-slider > input[type="range"]::-ms-fill-upper {
	background: transparent;
	border: 0 none;
}

.range-slider > input[type="range"] {
    z-index: 1;
    position: absolute;
	width: 100%;
	height: 16px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    pointer-events: none;
	-webkit-appearance: none;
}

div.range-slider > input[type="range"]::-ms-track {
	background: transparent;
    color: transparent;
    
    -webkit-appearance: none;
}

div.range-slider > input[type="range"]::-moz-range-track {
	background: transparent;
    color: transparent;
    
    -moz-appearance: none;
}

div.range-slider > input[type="range"]:focus::-webkit-slider-runnable-track {
	background: transparent;
	border: transparent;
}

div.range-slider > input[type="range"]:focus {
	outline: none;
}

div.range-slider > input[type="range"]::-ms-tooltip {
	display: none;
}

.range-slider > div > .range-slider-tooltip {
    z-index: 2;
	position: absolute;
	top: -29px;
    margin-left: -7px;
	color: #55637d;
	text-align: center;
}

.range-slider > div > .range-slider-tooltip > span {
	font-size: 16px;
}

.text{
    position: relative;
}

.left-text,
.right-text{
    position: absolute;
    top: -29px;
    color: #55637d;
    opacity: 0;
}

.left-text{
    left: -1px;
}

.right-text{
    right: -12px;
}

.show-text{
    opacity: 1;
}

.price-box{
    max-height: 0;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.price-filter .open{
    max-height: 170px;
    overflow-x: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.price-title{
    margin-bottom: 24px;
}

/* new product section */

.new-product-head{
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 6px;
}

.new-product-head i {
    position: absolute;
    color: #222222;
    opacity: 0.6;
    font-size: 24px;
    cursor: pointer;
}

.new-angle-left{
    right: 32px;
}

.new-angle-right{
    right: 10px;
}

.new-product-title{
    color:#222222;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
}

.new-product-content{
    display: flex;
}

.new-product-img{
    height: 160px;
    width: 100%;
    padding: 15px 15px 15px 0;
}

.new-product-content div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.new-product-name{
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.new-product-price{
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: 0.54px;
    cursor: context-menu;
}

.new-product-price del{
    font-weight: 400;
    color: #aaaaaa;
    font-size: 14px;
}

.collection-left-banner{
    margin-top: 30px;
}

.collection-left-banner img {
    width: 100%;
    height: auto;
}

/* right side container design */

.collection-right-box{
    width: 75%;
    padding-left: 12px;
}

.collection-right-banner img{
    width: 100%;
}

.collection-right-content{
    padding-top: 30px;
    padding-bottom: 35px;
}

.collection-right-content h4{
    color: #444444;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: 0.54px;
    margin-bottom: 15px;
}

.collection-right-content h5{
    color: #444444;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 16px;
}

.collection-right-content p{
    color: #777777;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.42px;
}

.product-container-header{
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: space-between;
}

.product-count-text{
    text-transform: capitalize;
    width: 35%;
    padding: 20px;
    border-right: 1px solid #dddddd;
}

.product-count-text h5{
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    line-height: 24px;
    letter-spacing: 0.8px;
}

.collection-view{
    width: 10%;
    padding: 20px;
    cursor: pointer;
    align-self: center;
}

.collection-view svg {
    margin-right: 5px;
    padding-top: 0.9px;
}

.collection-grid-view{
    padding: 20px;
    border-right: 1px solid #dddddd;
    width: 20%;
}

.collection-grid-view ul{
    display: flex;
}

.collection-grid-view ul li {
    margin-left: 10px;
}

.collection-grid-view ul li img{
    cursor: pointer;
    height: 18px;
    vertical-align: middle;
}

.product-filter{
    width: 15%;
    position: relative;
}

.product-filter select {
    padding-top: 24px;
    padding-bottom: 20px;
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

/* product list */

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 50px;
    position: relative;
}

.row2-product{
    width: 50%;
}
.row3-product{
    width: 33.33333333%;
}
.row4-product{
    width: 25%;
}
.row5-product{
    width: 16.66666667%;
}

.new-sapn{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-color: var(--theme-deafult);
    color: #fff;
    border-radius: 100%;
    padding: 11px 4px;
    position: absolute;
    top: 7px;
    left: 7px;
    text-align: center;
}

.product-on-sale{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #212529;
    position: absolute;
    top: 7px;
    right: 7px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.product-img-box{
    position: relative;
    overflow: hidden;
}

.product-img {
    max-width: 100%;
    height: auto;
}

.product-icons {
    text-align: left;
    bottom: 0;
    left: unset;
    position: absolute;
    right: -10px;
    margin: 0 auto;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease;
}

.product-icons-link {
    transition: 0.5s ease;
    text-decoration: none;
    position: relative;
}

.shopping {
    padding: 10px;
    display: block;
    color: #6f6f6f;
    font-size: 18px;
    transition: all 0.5s ease;
    position: relative;
}

.shopping:hover {
    color: var(--theme-deafult);
    transition: all 0.5s ease;
}

.product-item-box:hover .product-icons {
    opacity: 1;
    transition: all 0.5s ease;
    right: 0px;
    animation: icons;

    .heart {
        animation: icons 500ms ease-in-out;
    }

    .magnifying {
        animation: icons 700ms ease-in-out;
    }

    .refresh {
        animation: icons 1000ms ease-in-out;
    }
}

.product-box-list:hover .product-icons {
    opacity: 1;
    transition: all 0.5s ease;
    right: 0px;
    animation: icons;

    .heart {
        animation: icons 500ms ease-in-out;
    }

    .magnifying {
        animation: icons 700ms ease-in-out;
    }

    .refresh {
        animation: icons 1000ms ease-in-out;
    }
}

@keyframes icons {
    from {
        right: -20px;
    }

    to {
        right: 0px;
    }
}

.product-detail{
    display: block;
}

.stars {
    display: flex;
    font-size: 18px;
    color: #edb867;
}

.product-name{
    color: #777777;
    font-size: 16px;
    margin-bottom: 3px;
    padding-bottom: 5px;
    font-weight: 400;
    line-height: 1;
}

.product-discounted-price{
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    line-height: 1;
}

.product-price{
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.54px;
    line-height: 1;
}

.product-color-list{
    padding-top: 12px;
    padding-left: 0;
}

.product-color{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.silver {
    background-color: silver;
}

.sienna {
    background-color: sienna;
}

.navy {
    background-color: navy;
}

.bisque {
    background-color: bisque;
}

.chocolate {
    background-color: chocolate;
}

.steelblue {
    background-color: steelblue;
}

.wheat {
    background-color: wheat;
}

.palegoldenrod {
    background-color: palegoldenrod;
}

.dimgrey{
    background-color: dimgrey;
}

.black{
    background-color: black;
}

/* footer of right side  */

.product-container-footer{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.product-page-handler {
    width: 50%;
}

.product-page-handler ul{
    display: flex;
    align-items: center;
}

.product-page-handler ul li {
    height: 60px;
    line-height: 60px;
    border-left: 1px solid #dddddd;
}

.product-page-handler ul li:last-child{
    border-right: 1px solid #dddddd;
}

.product-page-handler ul li a{
    padding: 18px;
    color: #777777;
}

.product-page-handler ul li.active a{
    color: var(--theme-deafult) !important;
}

.product-footer-text{
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.product-footer-h5{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.product-footer-h5 h5{
    color: #777777;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
}

/* product box list */

.product-view-list{
    position: relative;
}

.product-box-list{
    margin-top: 50px;
    display: flex;
}

.product-img-box-list{
    width: 25%;
    position: relative;
}

.product-img-box-list img{
    max-width: 100%;
    height: auto;
}

.product-detail-list{
    padding-left: 15px;
    width: 75%;
    text-align: left;
    align-self: center;
}

.product-name-list{
    color: #777777;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 3px;
    padding-bottom: 5px;
}

.product-name-text{
    color: #777777;
    font-size: 14px;
    letter-spacing: 0.42px;
    line-height: 18px;
    margin-bottom: 10px;
}

.price-list{
    display: flex;
    flex-direction: column;
}

.price-list del {
    margin-top: 5px;
}

.hidden-icons{
    display: none;
}

.disable-prev{
    pointer-events: none;
    background-color: #dee2e6;
}
