:root{
    --theme-default : #ff4c3b;
}

/* slider design */
.slider {
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 35px 70px 35px 70px;
    position: relative;
}

.slider-first{
    background-image: url(../images/9.jpg);
}

.slider-second{
    background-image: url(../images/10.jpg);
}

.slider-effect {
    animation-name: slider_effect;
    animation-duration: 1.5s;
}

@keyframes slider-effect {
    from {
        left: 0;
    }

    to {
        left: 100px;
    }
}

.slider-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-title,
.slider-subtitle,
.shop-button{
    text-align: center;
    font-weight: 700;
}

.slider-subtitle{
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0.4em;
    color: #777777;
    margin-bottom: 0;
    margin-top: -3px;
}

.slider-title{
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 10px;
    color: #222222;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 1.5px;
}

.shop-button{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(30deg, var(--theme-default) 50%,
            transparent 50%) !important;
    border: 2px solid var(--main-color);
    padding: 13px 29px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
    line-height: 20px;
    letter-spacing: 0.7px;
    font-family: 'Lato'
}

.shop-button:hover{
    color: #222222;
    background-color: #fff;
    background-position: 100%;
}

.arrow-left,
.arrow-right {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-top: -10px;
    opacity: 0;
    transform: scale(1);
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 4px 7px;
    margin: 5px;
    cursor: pointer;
}

.arrow-right {
    right: 1px;
}

.arrow-left {
    left: 1px;
}

.arrow-left i,
.arrow-right i {
    color: #212529;
    font-size: 8px;
}

.slider:hover .arrow-left {
    left: 100px;
}

.slider:hover .arrow-right {
    right: 100px;
}

.slider:hover .arrow-left,
.slider:hover .arrow-right {
    opacity: 1;
    transform: scale(2.5);
    transition: all 0.5s ease;
}

/* brand design */
.brands {
    display: flex;
    padding: 0 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.brand-image {
    margin: 0 auto;
    padding-top: 70px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.5s ease;
    cursor: pointer;
}

.brand-image:hover {
    filter: grayscale(0);
    opacity: 1;
    transition: 0.5s ease;
}

/* offer design  */

.offer{
    max-width: 1400px;
    padding: 0 12px;
    margin: 0 60px;
    padding-top: 70px;
}

.offer-box{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/offer-banner-2.jpg);
    background-size: cover;
    height: 126px;
}

.offer-container {
    flex: 0 0 auto;
    width: 50%;
}

.offer-title-container{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 12px;
    padding-right: 12px;
}

.offer-title{
    font-size: 36px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    text-align: center;
    display: block;
}

.offer-pecent{
    color: var(--theme-default);
}

.time-box{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.time-box-container{
    justify-content: center;
    display: flex;
}

.timer{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    margin-top: 30px;
    background-color: #2d2a25;
    display: inline-block;
}

.timer p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 0;
}

.timer span {
    width: 70px;
    display: inline-block;
}

.timer span .padding-l {
    padding-left: 22px;
    display: inline;
}

.timer span .timer-cal {
    font-size: 12px;
    color: #777777;
}

/* category design */

.category {
    min-width: 1400px;
    padding: 70px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 60px;
    margin-right: 60px;
}


.category-product-box {
    width: 304px;
    border: 1px solid #dddada;
    padding: 40px 0;
    margin: 0 auto;
    position: relative;
}

.category-product {
    cursor: default;
}

.category-title {
    padding: 25px 0;
    color: #2d2a25;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.category-list {
    list-style: none;
}

.category-item {
    margin-top: 5px;
}

.category-item_link {
    color: #948e8c;
    transition: 0.5s ease;
}

.category-item_link:hover {
    color: var(--theme-default);
    transition: 0.5s ease;
}

.category-link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    padding: 13px 29px;
    margin-top: 20px;
    font-size: 14px;
    border: 2px solid var(--theme-default);
    transition: 0.3s ease-in-out;
    position: relative;
}

.category-link::before {
    content: "";
    z-index: -2;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: var(--theme-default);
    transition: 0.5s all ease;
}

.category-link:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.category-link:hover {
    color: #fff;
    background-color: var(--theme-default);
    transition: 0.3s ease-in-out;
}

.category-product-box {

    --_g: #0000 25%, var(--theme-default) 0;
    background:
        conic-gradient(from 180deg at top 1px right 1px, var(--_g)) var(--_i, 200%) 0 /200% var(--_i, 1px) no-repeat,
        conic-gradient(at bottom 1px left 1px, var(--_g)) 0 var(--_i, 200%)/var(--_i, 1px) 200% no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s;
    cursor: pointer;
}

.category-product-box:hover {
    --_i: 100%;
    transition: 0.3s, background-size 0.3s 0.3s;
}

/* trending products first design */

.trending-container {
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.15s linear;
    margin-left: 35px;
}

.new-arrival,
.on-sale,
.best-sellers {
    display: none;
}

.title-h2 {
    text-align: center;
    font-size: 36px;
    color: #222222;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.72px;
    padding-bottom: 25px;
    margin-bottom: 0;
    margin-top: -5px;
}

.page-line {
    position: relative;
    width: 180px;
    height: 1px;
    background-color: var(--theme-default);
    bottom: 0;
    top: 0;
    margin: 0 auto;
    margin-bottom: 55px;
}

.page-line::before,
.page-line::after,
.page-line-span::after,
.page-line-span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--theme-default);
    top: -4px;
}

.page-line::before {
    left: 64px;
}

.page-line::after {
    left: 78px;
}

.page-line-span::before {
    right: 64px;
}

.page-line-span::after {
    right: 78px;
}

.trending-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-list-item {
    padding: 0 25px;
}

.selected {
    color: var(--theme-default) !important;
}

.trending-list-link {
    color: #2d2a25;
    text-transform: uppercase;
    font-size: 18px;
}


.selected-container {
    display: block;
    transition: opacity 0.15s linear;
}

.trending-products-first{
    background-color: rgb(250, 234, 232);
    padding: 70px 50px 5px;
    position: relative;
}

.trending-product {
    margin: 0px 12px 30px;
    margin-bottom: 140px;
}

.trending-list-box {
    margin-bottom: 30px;
    text-align: center;
}

.trending-new,
.special-new {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-color: var(--theme-default);
    color: #fff;
    border-radius: 100%;
    padding: 11px 4px;
    position: absolute;
    top: 7px;
    left: 7px;
    text-align: center;
}
.trending-on-sale,
.special-on-sale {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #212529;
    position: absolute;
    top: 7px;
    right: 7px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.trending-product-box,
.special-product-box {
    width: 315px;
    height: 340px;
}

.trending-img-box,
.trending-img-box-second{
    position: relative;
    overflow: hidden;
}

.trending-img {
    max-width: 100%;
    height: auto;
}

.trending-icons {
    text-align: left;
    bottom: 0;
    left: unset;
    position: absolute;
    right: -10px;
    margin: 0 auto;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease;

}

.trending-icons-link,
.special-icons-link {
    transition: 0.5s ease;
    text-decoration: none;
    position: relative;
}

.shopping {
    padding: 10px;
    display: block;
    color: #6f6f6f;
    font-size: 18px;
    transition: all 0.5s ease;
    position: relative;
}

.shopping:hover {
    color: var(--theme-default);
    transition: all 0.5s ease;
}

.trending-product-box:hover .trending-icons {
    opacity: 1;
    transition: all 0.5s ease;
    right: 0px;
    animation: icons;

    .heart {
        animation: icons 500ms ease-in-out;
    }

    .magnifying {
        animation: icons 700ms ease-in-out;
    }

    .refresh {
        animation: icons 1000ms ease-in-out;
    }
}


@keyframes icons {
    from {
        right: -50px;
    }

    to {
        right: 0px;
    }
}

.trending-detail,
.special-detail {
    display: block;
}

.stars {
    display: flex;
    font-size: 18px;
    color: #edb867;
}

.trending-name,
.special-name {
    color: #777777;
    font-size: 16px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

.trending-discounted-price,
.special-discounted-price {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
}

.trending-price,
.special-price {
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
}

.silver {
    background-color: silver;
}

.sienna {
    background-color: sienna;
}

.navy {
    background-color: navy;
}

.bisque {
    background-color: bisque;
}

.chocolate {
    background-color: chocolate;
}

.steelblue {
    background-color: steelblue;
}

.wheat {
    background-color: wheat;
}

.palegoldenrod {
    background-color: palegoldenrod;
}

.dimgrey {
    background-color: dimgrey;
}

.black {
    background-color: black;
}

.trending-color-list,
.trending-color-list-second,
.special-color-list {
    padding-top: 12px;
    padding-left: 0;
}

.trending-color,
.special-color {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

/* trending product second design */

.trending-products-second {
    padding: 70px 50px 5px;
    position: relative;
}

.trending-product-second,
.special-product {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 140px;
}

.trending-container-second {
    text-align: center;
    width: 344px;
    display: flex;
    align-items: center;
}

.trending-icons-second,
.special-icons {
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 3px 8px;
    display: flex;
    width: max-content;
    border-radius: 50px;
    box-shadow: 0 0 12px 0 #dddddd;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.2s ease;
}

.trending-product-second:hover .trending-icons-second,
.special-product:hover .special-icons {
    opacity: 1;
    transition: all 0.2s ease;
    animation: icons_part2 400ms ease-in-out;
}

@keyframes icons-second {
    from {
        bottom: 0px;
    }

    to {
        bottom: 30px;
    }
}

.stars-second {
    justify-content: center;
}

/* collection banner design */

.collection-banner{
    padding-top: 70px;
}

.collection-container{
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-wrap: wrap;
}

.collection-item{
    width: 33.33333333%;
    padding-left: 12px;
    padding-right: 12px;
}

.collection-box{
    position: relative;
    overflow: hidden;
}

.banner-image{
    transition: all 0.5s ease;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.collection-box:hover .banner-image{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.collection-flex{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
}

.collection-h4{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    margin-top: -3px;
    line-height: 1;
    font-size: 18px;
}

.collection-h2{
    font-size: 36px;
    letter-spacing: 0.05em;
    color: white;
    margin-top: 5px;
    margin-bottom: -7px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

/* collection banner design */

.collection-banner{
    padding-top: 70px;
}

.collection-container{
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-wrap: wrap;
}

.collection-item{
    width: 33.33333333%;
    padding-left: 12px;
    padding-right: 12px;
}

.collection-box{
    position: relative;
    overflow: hidden;
}

.banner-image{
    transition: all 0.5s ease;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.collection-box:hover .banner-image{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.collection-flex{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
}

.collection-h4{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    margin-top: -3px;
    line-height: 1;
    font-size: 18px;
}

.collection-h2{
    font-size: 36px;
    letter-spacing: 0.05em;
    color: white;
    margin-top: 5px;
    margin-bottom: -7px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

/* special products design */

.special-products{
    padding-top: 70px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}


.special-products-container{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.side-box{
    display: flex;
    flex-direction: column;
}

.special-item{
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
}

.special-image{
    height: 300px;
    transform: scale(1);
    transition: all 0.5s ease;
    padding: 15px 15px 15px 0;
}

.special-item:hover .special-image{
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.special-detail{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.border-item2{
    border-top: 1px solid #f1f5f4;
}

.side-box,
.special-box-ceneter{
    width: 33%;
}

.special-box-ceneter{
    border-left: 1px solid #f1f5f4;
    border-right: 1px solid #f1f5f4;
}

.special-img-box{
    position: relative;
}

.special-product-box{
    width: 441px;
}

.special-img{
    width: 100%;
    padding: 15px;
}

.special-detail-part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* recent story design */

.recent-story {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f1f5f4;
}

.recent-story-container{
    max-width: 1400px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
}

.recent-story-box {
    display: flex;
}

.recent-detail {
    padding-left: 12px;
    padding-right: 12px;
    width: 458.667px;
}

.recent-img {
    width: 100%;
    height: auto;
}

.recent-info {
    text-align: center;

}

.recent-h4,
.recent-text {
    font-size: 18px;
    letter-spacing: 0.54px;
}

.recent-h4 {
    line-height: 1;
    font-weight: 400;
    color: var(--theme-default);
    margin-top: 25px;
}

.recent-text {
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    line-height: 1.5;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.recent-text:hover {
    color: var(--theme-default);
    transition: all 0.5s ease;
}

.recent-line {
    width: 75px;
    height: 3px;
    background-color: var(--theme-default);
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 16px;
}

.recent-author {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 14px;
}

.recent-img-box {
    position: relative;
    overflow: hidden;
}

.recent-effect {
    height: inherit;
}

.recent-img-box::before,
.recent-img-box::after {
    content: "";
    position: absolute;
    bottom: 100%;
    top: 0;
    width: 25%;
    opacity: 0;
    transition: all 0.3s steps(4);
    z-index: 1;
    background-color: var(--theme-default);
}

.recent-img-box span::after,
.recent-img-box span::before {
    content: "";
    position: absolute;
    bottom: 100%;
    top: 0;
    width: 25%;
    opacity: 0;
    transition: all 0.3s steps(4);
    z-index: 1;
    background-color: var(--theme-default);
}

.recent-img-box::before {
    transition-delay: 0s;
    left: 0;
}

.recent-img-box::after {
    left: 25%;
    transition-delay: 0.025s;
}

.recent-img-box span::before {
    left: 50%;
    transition-delay: 0.05s;
}

.recent-img-box span::after {
    left: 75%;
    transition-delay: 0.15s;
}

.recent-img-box:hover:before,
.recent-img-box:hover::after,
.recent-img-box:hover .recent-effect::after,
.recent-img-box:hover .recent-effect::before {
    bottom: 0;
    opacity: 0.5;
}

/* app services design */

.app-services{
    max-width: 1400px;
    padding-bottom: 70px;
    padding-top: 70px;
    margin: 0 auto;
}

.app-service-container{
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.sevrice-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding: 23px 12px;
}

.service-svg {
    width: 60px;
    height: 60px;
    transition: all 0.5s ease;
    margin-right: 12px;
}

.sevrice-box:hover .service-svg {
    animation: service_effect 1000ms ease-in-out;
    transition: all 0.3s ease;
}

@keyframes service_effect {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: scaleX(1);
    }
}

.service-h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.service-h4:hover {
    color: var(--theme-default);
    transition: all 0.3s ease;
}

.service-text {
    font-size: 14px;
    color: #777777;
    letter-spacing: 0.42px;
    line-height: 24px;
    text-transform: capitalize;
}

.service-border {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

/* dark mode */

.dark .category-product-box{
    border-color: #404040;
}

.dark .category-title{
    color: #e7eaec;
}

.dark .trending-products-first{
    background-color: #232323;
    transition: all 0.3s ease;
}

.dark h2{
    color: #f1f3f5;
}

.dark h4 {
    color: #e7eaec;
}

.dark p {
    color: #cfd4da;
}

.dark .trending-icons-second,
.dark .special-icons {
    background-color: #2b2b2b;
    transition: all 0.3s ease;
    box-shadow: none;
}

.dark .recent-story {
    background-color: #404040;
    transition: all 0.3s ease;
}

.dark .app-service-container,
.dark .app-service-container div {
    border-color: #404040;
}

.dark .brand-image img{
    filter: invert(100);
}